<div class="jumbotron"></div>

<div class="container" ng-if="(cart != null) && (cart.cartItems.length > 0)">

	<h1>Your Shopping Cart</h1>
	<p>Cart Id: <span>{{cart.id}}</span></p>
	<p>Base Price: <span>{{cart.basePrice}}</span></p>
	<p>Voucher Code: <span>{{cart.voucherCode}}</span></p>
	<p>Voucher Discount: <span>{{cart.voucherDiscount}}</span></p>
	<p>Currency: <span>{{cart.currency}}</span></p>
	<p>Tax Rate: <span>{{cart.taxRate}}</span></p>
	<p>Shipping: <span>{{cart.shipping}}</span></p>
	<p>Shipping Method: <span>{{cart.shippingMethod}}</span></p>
	<p>Price with Tax: <span>{{cart.priceWithTax}}</span></p>
	<p><em>Cart Total: <span>{{cart.cartTotal}}</span></em></p>
  		
	<hr>
   	
   	<a class="btn btn-success" ng-href="#/orders/checkout">Check out</a>
   	<a class="btn" href="#/">Continue shopping</a>
   	
   	<hr>
  		
	<h2>Items in Your Shopping Cart</h2>
	<div class="row" ng-repeat="item in cart.cartItems">
        <div class="col-md-4">
        	<h3><span>{{item.name}}</span></h3>
          	<img ng-src="{{item.thumbnailUrl}}" height="50" />
          	<p>price: <span>{{item.price}}</span></p>
          	<p>quantity: <span>{{item.quantity}}</span></p>
          	<p>sku: <span>{{item.sku}}</span></p>
          	<p><a ng-href="#/{{item.productUrl}}" role="button">View details &raquo;</a></p>
        </div>
	</div>

</div>
  	
<div class="container" ng-if="(cart == null) || (cart.cartItems.length == 0)">
  <div class="row">
		<div class="col-md-4">
			<p>No items in cart.</p>
		</div>
	</div>
</div>